/chromedriver-windows-32bit.exe
/chromedriver-windows-32bit.version
/geckodriver-windows-32bit.exe
/geckodriver-windows-32bit.version
/geckodriver-windows-64bit.exe
/geckodriver-windows-64bit.version
/internetexplorerdriver-windows-32bit.exe
/internetexplorerdriver-windows-32bit.version
/internetexplorerdriver-windows-64bit.exe
/internetexplorerdriver-windows-64bit.version
